[submodule "frontend"]
	path = frontend
	url = https://github.com/NicholasEmery/newsly-portal-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/NicholasEmery/newsly-portal-backend.git
